body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.numberButton{
    color: black;
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#clock{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
